.daily-picture {
  position: relative;
  width: 100%;
  height: 500px;


  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--cover-gradient);
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__caption {
    position: absolute;
    z-index: 1;
    left: 30px;
    bottom: 30px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
  }
}