@font-face {
  font-family: 'JetBrains Mono';
  src: url("../../fonts/JetBrainsMono-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url("../../fonts/JetBrainsMono-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}