@import './animations.css';
@import './scss/fonts.scss';
@import './scss/global.scss';

:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #0f3a97;

  --cover-gradient: linear-gradient(#00000000 80%, #000000 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  background-color: var(--black);
  background-image: url('@/assets/images/background.jpg');
  background-attachment: fixed;
  color: var(--white);
  font-family: 'JetBrains Mono', 'Courier';
}

a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}
